.file-chooser{
    img {
      height: 50px;
      margin: 5px 10px;
    }
    input{
      display: none;
    }
  }

table {
    width: 100%;
}

input{
  text-decoration: none;
  border: 1px solid rgb(73, 73, 202);
  padding: 15px 10px;
  border-radius: 10px;
  
  width: 100%;

}
textarea{
  border-radius: 10px;

  width: 100%;
}
