<div class="container">
  <div class="header">
    <h1>Authentication</h1>
  </div>
  <mat-divider></mat-divider>
  <div class="urta">
    <form [formGroup]="authoForm" class="example-form" (ngSubmit)="login()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Login</mat-label>

        <input formControlName="username" matInput placeholder="* * * * * * *">
        <mat-icon matSuffix>login</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Parol</mat-label>
        <mat-icon matSuffix><span (click)="veiwPass(pass)">lock</span></mat-icon>
        <input #pass formControlName="password" autocomplete="on" type="password" matInput placeholder="* * * * * * *">

      </mat-form-field>
      <mat-divider></mat-divider>
      <br>
      <button mat-raised-button color="primary" style="float: right; margin-right: 50px" type="submit">
        <mat-icon>check - box</mat-icon>Keyingi
      </button>
    </form>
  </div>
</div>



<!-- <form action="/action_page.php" method="post" class="big-container" [formGroup]="authoForm"  (ngSubmit)="validets()">
  <div class="imgcontainer">
    <img src="./../../assets/no_photo.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Login</mat-label>

      <input width="100%" formControlName="login" matInput placeholder="* * * * * * *">
      <mat-icon matSuffix>login</mat-icon>
    </mat-form-field> <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Parol</mat-label>
      <mat-icon matSuffix>lock</mat-icon>
      <input formControlName="password" type="password" matInput placeholder="* * * * * * *">

    </mat-form-field><br>
        
    <button mat-raised-button  color="primary" style="float: right; width: 100px; height: 45px;" type="submit">
       Keyingi
      </button>
    
  </div><br><br>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    
  </div>
</form> -->