
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar
      class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    
      ShoxVloge<span style="color: skyblue;">.uz</span>
      <span class="spacer"></span>
    
      <button  [matMenuTriggerFor]="menuRef" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button>
     
      
      <mat-menu #menuRef="matMenu">    
          <button mat-menu-item >
            <mat-icon class="mat-18">logout</mat-icon> Logout
        </button>
      </mat-menu>
    </mat-toolbar>
    
    <mat-sidenav-container class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list dense>
            <mat-divider></mat-divider>
            <a id="font" mat-list-item routerLink="reklama">Reklama</a>
            <mat-divider></mat-divider>
            <a id="font" mat-list-item routerLink="onlinenew">Online Yangiliklar</a>
            <mat-divider></mat-divider>
            <a id="font" mat-list-item routerLink="new">Yangiliklar</a>
            <mat-divider></mat-divider>
            
            
        </mat-nav-list>
         
      </mat-sidenav>

      
    
      <mat-sidenav-content >
        <div class="main-content">
           <router-outlet></router-outlet>
        </div>
       <h2 style="display: flex; justify-content: center; align-items: center; margin-top: 40px;">{{date | date: "fullDate"}}
        {{date | date: "HH:mm:ss"}}</h2>
    <div style="display: flex; justify-content: center; align-items: center;">
      
      <img src="./../../assets/IMG_0306.PNG" alt="" width="600" height="500">
    </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    


    